#footer {
  margin-top: 30px;
  padding: 10px;
  color: #fff;
  background: #0c84e4;
}

#footer p {
  margin-bottom: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
